---
exp_arguments:
  # 类别数量
  n_classes: 2
  # 保存生成的图像和资产的名称标签
  save_exp_code: HEATMAP_OUTPUT_BRCA
  # 保存原始资产文件的位置
  raw_save_dir: heatmaps/heatmap_raw_results_BRCA_topk
  # 保存最终热力图的位置
  production_save_dir: heatmaps/heatmap_production_results_BRCA
  # 批处理大小（按 GPU 显存适当调整）
  batch_size: 512

data_arguments: 
  # 数据存储位置；使用绝对路径指向包含 .tif 文件的目录(.svs)
  data_dir: "D:/ADGA-MIL/data_TZ/BRCA"
  # 数据目录中的键名（如果使用字典映射）
  data_dir_key: source
  # 包含 slide_id 的 CSV 列表；使用绝对路径
  process_list: "D:/ADGA-MIL/dataset_csv/tcga_brca_heatmap_IDC.csv"
  # 分割/补丁提取的预设文件；使用绝对路径
  preset: "D:/ADGA-MIL/presets/tcga_brca_r50_preset.csv"
  # 幻灯片的文件扩展名
  slide_ext: .svs
  # 标签字典（字符串到整数映射）
  label_dict:
    'IDC': 0
    'ILC': 1

patching_arguments:
  # 提取的每个补丁的大小（像素）
  patch_size: 128
  # 补丁之间的重叠比例
  overlap: 0.25
  # 在 WS 图像金字塔中的层级索引（数值越大分辨率越低）
  patch_level: 1
  # 自定义下采样因子
  custom_downsample: 1

encoder_arguments:
  # 预训练编码器模型
  model_name: resnet50_trunc  # 支持：resnet50_trunc, uni_v1, conch_v1
  target_img_size: 224        # 输入编码器前调整的图像大小

model_arguments: 
  # 模型 checkpoint 路径
  ckpt_path: "D:/ADGA-MIL/results/3/TCGA_BC_R50_100_s1/s_1_best_checkpoint.pt"
  model_type: clam_sb     # 支持 clam_sb（单分支）或 clam_mb（多分支）
  initiate_fn: initiate_model
  model_size: small
  drop_out: 0.0
  embed_dim: 1024          # 与训练时一致

heatmap_arguments:
  # 热力图生成设置
  vis_level: 1            # 在 WSI 金字塔哪个分辨率显示热力图
  alpha: 0.4              # 热力图透明度
  blank_canvas: false     # 是否绘制在空白背景上
  save_orig: true         # 是否保存原始 H&E 图像
  save_ext: jpg           # 保存格式
  use_ref_scores: true    # 是否使用非重叠 patch 的分数作为参考百分位
  blur: false             # 是否高斯模糊
  use_center_shift: true  # 四个角点中心偏移
  use_roi: false          # 是否只计算 ROI
  calc_heatmap: true      # 计算精细热力图
  binarize: false         # 是否二值化
  binary_thresh: -1       # 二值化阈值
  custom_downsample: 1    # 最终显示下采样倍数（不能留空）
  cmap: jet               # 热力图颜色映射（matplotlib colormap）

sample_arguments:
  samples:
    - name: "topk_high_attention_camelyon16_plip_fold4"
      sample: true
      seed: 1
      k: 15     # 保存前 k 个补丁
      mode: topk

data_loader_arguments:
  num_workers: 0          # DataLoader 并行线程数（Windows 下建议 0）

